<head>
    <link rel="stylesheet" href="index.css">
    <title>Convertidor Wyskas</title>
</head>
<div id="info" class="form-group">
    <h1>¿Como funciona?</h1>
    <p>Copia desde Youtube la URL,el Enlace,el link y pegalo aqui</p>
    <img src="image/DeepinScreenshot_Seleccionar área_20200915104057.png" alt="">
</div>
<div id="info2" class="form-group">
    <h1>Formatos disponibles</h1>
    <img id="formatos" src="image/img-mpf.svg" alt="MP4" >
    <img id="formatos" src="image/img-mpt.svg" alt="MP3" >
    <img id="formatos" src="image/img-tgp.svg" alt="3GP" >
    <img id="formatos" src="image/method-draw-image.svg" alt="M4A">
</div>